/* ------------------- PAGINACION---------------- */

.pagination {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    margin: 20px 0;
}

.filtro_admin {
    width: 20%;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------MODALES---------------- */

.container_modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container_imagen_modal {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_msg_modal {
    width: 40%;
    background-color: rgb(77, 78, 73);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_modal {
    width: 400px;
    height: 700px;
    border-radius: 10px;
}

/* ----------------- SECCION DE TICKETS ------------------ */

.section_tickets {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_tickets {
    width: 60%;
}

.cont_tickets_selector {
    width: 40%;
}

.button:hover {
    background-color: rgb(169, 149, 0);
}
.text_footer {
    color: rgb(100, 100, 100);
}

@media (max-width: 1000px) {
    .section_tickets {
        flex-wrap: wrap-reverse;
    }
}

/* ------------------ TABLAS ADMIN ------------ */

div.container_table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table.table_gestion {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: rgb(254, 180, 3);
    color: black;
    padding: 20px;
}
td {
    background-color: white;
    padding: 20px;
    text-align: center;
    color: white;
}

tr:nth-child(even) td {
    background-color: rgb(130, 130, 130);
}

tr:nth-child(odd) td {
    background-color: rgb(80, 80, 80);
}

.message {
    width: 60%;
    border: 1.5px solid rgb(10, 200, 10);
    background-color: rgb(50, 210, 50, 0.7);
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    color: #000;
}

/* MODAL */

.cont_modal {
    transform: translateX(110%);
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.6s;
}

.x_modal {
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.x_modal img {
    width: 40px;
    height: 40px;
}

.x_modal:hover {
    background-color: #f33;
}

.scroll_historic {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: auto;
}

.table_gestion thead th {
    position: sticky;
    top: 0;
    z-index: 15;
}
